@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

button {
  background: var(--foreground);
  color: var(--background);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
  }

  button:hover {
    background: var(--background);
    color: var(--foreground);
}

.Greeting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.avatar {
  border-radius: 50%;
}
.profile {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}
.board-row {
  display: flex;
  justify-content: center;
  margin: 3;

}

